HF_TOKEN=
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
DIGEST_RECIPIENTS=

BRIGHTDATA_API_KEY=
BRIGHTDATA_ZONE=

HN_LLM_CONCURRENCY=5
LINKEDIN_SEARCH_CONCURRENCY=10
LINKEDIN_DESCRIPTION_CONCURRENCY=10
LINKEDIN_LLM_CONCURRENCY=16

LINKEDIN_POSTS_PER_PAGE=10
LINKEDIN_MAX_PAGES_PER_QUERY=3
